/*GENERAL*/
*{
    font-size: 25px;
   font-family: 'Great Vibes', cursive;
   color: #6B9D8C;
}
body{
   background-image:url("Imagenes_fondos/Home.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
}

/*ANIMACIONES*/

#Cobertura{
    width: 300px;
    height: 300px;
    perspective: 700px;
    margin: 100px auto;
}

.cubo{
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform: rotateY(35deg) rotateX(-38deg);
    transition: 300ms ease-in;
}

.cubo:hover{
    transform: rotateY(125deg) rotateX(155deg);
}

.cubo div{
    position: absolute;
    width: 150px;
    height: 150px;
}

.cubo div:nth-child(1){
    transform: translateZ(75px); 
    background-color:black;  
}

.cubo div:nth-child(2){
    transform: rotateX(180deg) translateZ(75px);
    background-color:black;
}

.cubo div:nth-child(3){
    transform: rotateY(-90deg) translateZ(75px);
    background-color:black;
}

.cubo div:nth-child(4){
    transform: rotateY(90deg) translateZ(75px);
    background-color:black;
}

.cubo div:nth-child(5){
    transform: rotateX(90deg) translateZ(75px);
    background-color:black;
}

.cubo div:nth-child(6){
    transform: rotateX(-90deg) translateZ(75px);
    background-color:black;
}

/*MENU GENERAL*/


nav ul {
    list-style: none;
    padding: 0%;
}
nav li {
    line-height: 3rem;
    position: relative;
}
nav li ul{
    position: absolute;
}
nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 2.5em;
    transition: -5s;
}
nav a:hover {
    background: rgba(247, 3, 3, 0.9999);
}

nav li ul {
    display: none;
}

nav li:hover ul {
    display: block;
}

/*1 PRIMER LV*/


nav > ul > li {
    float: left;
}
nav > ul {
    background: black;
    display: table;
    width: 100%;
}


/*2 SEGUNDO LV*/


nav li  li {
    background:slategray;
    width: 200%;
    max-height: 0%;
    overflow: hidden;
}

nav li:hover > ul > li {
    max-height: 500%;
    overflow: visible;
}

nav > ul > li > ul {
    top: 100%;
}


/*FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../CSS/background-footer.svg);
    background-size: cover;
}

.contenido_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.caja-footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.caja-footer .logotipo img{
    width: 180px;
}

.caja-footer .terminos{
    max-width: 350px;
    margin-top: 20px;
}