/*GENERAL*/
*{
     font-size: 25px;
    font-family: 'Great Vibes', cursive;
    color: #6B9D8C;
}
body{
    background-image:url("Imagenes_fondos/wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    
    background-repeat: no-repeat;
    background-attachment:local;
    width: 100%;
    height: 150px;
    background: (39, 39, 39);
}

/*ESCRITURA*/

h2{
    font-family: 'Kaushan Script', cursive;
    color: #777D84;
}
h1 {
    font-family: 'Kaushan Script', cursive;
    color:blueviolet;
}

p {
    text-overflow: ellipsis;
    overflow: hidden;
    resize: horizontal;
}

/*TABLA*/


#tabla {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#imagen_personajes {
    padding: 2%;
    width: 20%;
    height: 20%;
    border-radius: 105%;
    border: 2px solid purple;
    background-color: white;
}
#resumen {
    background-color: black;
    padding: auto;
    width: auto;
    height: auto;
    border-radius: 25%;
    border: 2px solid skyblue;
}


/*MENU GENERAL*/


nav ul {
    list-style: none;
    padding: 0%;
}
nav li {
    line-height: 3rem;
    position: relative;
}
nav li ul{
    position: absolute;
}
nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 2.5em;
    transition: -5s;
}
nav a:hover {
    background: rgba(247, 3, 3, 0.9999);
}

nav li ul {
    display: none;
}

nav li:hover ul {
    display: block;
}

/*1 PRIMER LV*/


nav > ul {
    background: black;
    display: table;
    width: 100%;
}

nav > ul > li {
    float: left;
}


/*2 SEGUNDO LV*/


nav li li {
    background:slategray;
    width: 200%;
    max-height: 0%;
    overflow: hidden;
}

nav li:hover > ul > li {
    max-height: 500%;
    overflow: visible;
}

nav > ul > li > ul {
    top: 100%;
}


/*ASIDE*/

#anuncios {
    float: right;
    padding-left: 15px;
    width: 400px;
    box-sizing: border-box;
}

.anuncitios {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../CSS/background-footer.svg);
    background-size: cover;
}

.contenido_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.caja-footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.caja-footer .logotipo img{
    width: 180px;
}

.caja-footer .terminos{
    max-width: 350px;
    margin-top: 20px;
}